
#chatarea{
    margin-bottom: 20px;
    border: 1px solid grey;
    height: 550px;
    max-width: 100%;
    overflow: auto;
    background-image: url('https://qph.fs.quoracdn.net/main-qimg-8b585fb4a5c9fedbb899cfb0cf0331a7');
    background-size: cover;
    position: relative;

}
.time{
    font-size: xx-small;
    font-style: italic;
    color: grey;
}
.edit{
    margin: 5px;
    padding: 8px;
    font-size: medium;
    max-width:95%
}